<div class="container">
    <form ng-submit="generatePhnInvitationLinks(data)" class="well">
        <label>Phn Start</label><input type="text" ng-model="data.phnStart">
        <label>Phn End</label><input type="text" ng-model="data.phnEnd">
        <label>Inv Barcode Start</label><input type="text" ng-model="data.invitationCardBarcodeStart">
        <label>Inv Barcode End</label><input type="text" ng-model="data.invitationCardBarcodeEnd">

        <button type="submit">Generate</button>

    </form>
</div>
